* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}


body {
    font-family: sans-serif;

}

main {
    background-color: #f9d7e721;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f9d7e7;
}

::-webkit-scrollbar-thumb {
    background: #d90367 !important;
}


.headernav {
    background-color: #f9d7e7;
}

.nav2color {
    border-bottom: 2px solid #f9d7e7;
}

.buttonheader {
    border-color: #d90367;
    color: #D90368;
}

.active {
    color: #d90367 !important;
}

.navcolor {
    color: #000;
}

.navcolor:hover {
    color: #d90367;
}

.logo {
    width: 100px;
    height: 24px;
}

.navbar2 {
    height: 5vh;
}

.chevron {
    width: 32px;
    height: 32px;
}

.listjero li {
    border: none;
    color: #D90368;
    margin-left: 5px;
}

.formjero input {
    background-color: #f9d7e7;
    border: none;
}

.formjero input:hover {
    background-color: #f9d7e7;
}

.formjero i {
    color: #d90367;
}

.formjero button {
    border-color: #D90368;
    color: #D90368;
}

.formjero button:hover {
    background-color: #D90368;
    color: white;
}

.dropdownjero {
    border-color: #D90368 !important;
    background-color: #D90368 !important;
}



.footercard a {
    border-color: #D90368 !important;
    background-color: #D90368 !important;
}

.contactform button {
    border-color: #D90368 !important;
    color: #D90368 !important;
}

.contactform button:hover {
    background-color: #D90368 !important;
    color: white !important;
}

.labelcolor {
    color: #D90368;
}

.inputcolor {
    border-color: #D90368;
    color: #D90368 !important;
}

.theadcolor {
    text-decoration: underline #D90368;
    text-align: center;
}

.trcolor {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.trdate {
    text-align: center;
    font-size: 13px;
}

.tableposition {
    align-items: center;
    justify-content: center;
}

footer {
    height: 2vh;
    background-color: #1d1d1fec;
    justify-content: center;
    text-align: center;
}

footer .icons {
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

footer .footertext {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f9d7e7;
}

.maindate {
    height: 85vh;
    background-color: #d903670c;
    text-align: center;
    margin: 4em;
    align-items: center;
    justify-content: center;
    border: #D90368 solid 1px;
}

.cardjero {
    display: flex;
    justify-content: center;
    border: none;

}

.divimg {
    border: #D90368 solid 1px;
    display: flex;
}

.cardbody {
    border: #D90368 solid 1px;
    height: 100%;
}

.iconscolor {
    color: #d90367;
}

.imagecard {
    padding: 10px;
    text-align: center;
    color: #1d1d1f;
    width: 16rem;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: 1px solid #f9d7e7;
    border-radius: 5%;
}

.imagecard:hover {
    transform: translateY(-5px);
    transition-duration: 3000;
    -webkit-box-shadow: 0 20px 26px -1px #f9d7e7;
    -moz-box-shadow: 0 20px 26px -1px #f9d7e7;
    box-shadow: 0 20px 26px -1px #f9d7e7;
}

.imagecard h6 {
    font-weight: bold;
}

.imagecard p {
    font-size: 14px;
}

.imagecard img {
    height: 200px;
    object-fit: cover;
    border-radius: 5%;

}

.chevronColor {
    color: #d90367;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteinerCard {
    display: flex;
    justify-content: center;
}

.cardInfo {
    text-align: center;
    background-color: #f9d7e7;
    border: none;
}

.cardInfo ul li {
    border-color: #f9d7e7;
}

.cartelito {
    background-color: #1d1d1f;
    color: #d90367;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.cartelito p {
    line-height: 10vh;
}